#menu{
background:#878282;
width:220px;
height:700px;
position: absolute; top: 270px; left: 1305px;
}

#menu1{
background:#878282;
width:220px;
height:700px;
position: absolute; top: 270px; left: 75px;
}

#conntent{
background:#ded5d5;
width:940px;
height:700px;
position: absolute; top: 270px; left: 330px;
}

#Login{
position: absolute; top: 280px; left: 1310px;
}	
 
#Password{
position: absolute; top: 320px; left: 1310px;	
}

#Vhod{
position: absolute; top: 350px; left: 1310px;
}	

.navigation {
   list-style: none; 
   width: 167px;  
}
.navigation li {
   margin-top: 5px; 
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 20px; 
}
.navigation li a {
   display: block; 
   padding: 4px 15px; 
   background: #C0C0C0; 
   color: #3f3f3f; 
   text-decoration: none; 
   position: relative; 
}
.navigation li a:hover {
   background: #92d3d3;
   color: #6b6b6b; 
}